body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  margin: auto;
  top: 50%;
  border-radius: 5px;
}
input {
  width: 2em;
  height: 2em;
  border-style: none;
  text-align: center;
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  width: 2em;
  height: 2em;
}

.section-1 {
  background-color: #fffc9e;
}
.section-2 {
  background-color: #68cbd0;
}
.section-3 {
  background-color: #ffccc9;
}
.section-4 {
  background-color: #9aff99;
}
.section-5 {
  background-color: #f8a102;
}
.section-6 {
  background-color: #ffcb2f;
}
.section-7 {
  background-color: #34cdf9;
}
.section-8 {
  background-color: #cbcefb;
}
.section-9 {
  background-color: #68cbd0;
}
